body {
    background-color: #121212;
    color: #fff;
}

.table-striped > tbody > tr:nth-of-type(2n+1) > *,
.table-striped > tbody > * {
    color: #fff;
}

.table > :not(caption) > * > * {
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
}

.link-centered {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

a {
    color: #9f00ff;
}

.page-item.active .page-link {
    background-color: #9f00ff;
    border-color: #9f00ff;
}

a.page-link:hover {
    color: #9f00ff;
}

.page-link {
    color: #9f00ff;
}

a:hover {
    color: #9f40ff;
}

a {
    text-decoration: none;
}

.btn-primary {
    background-color: #9f00ff;
    border-color: #9f00ff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #9f40ff;
    border-color: #9f40ff;
}