body {
    background-color: #121212;
    color: #fff;
}

.table-striped > tbody > tr:nth-of-type(2n+1) > *,
.table-striped > tbody > * {
    color: #fff;
}

.table > :not(caption) > * > * {
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
}

.link-centered {
    width: 100%;
    display: flex;
    justify-content: center;
}