* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
}

.table-striped > tbody > tr:nth-of-type(2n+1) > *,
.table-striped > tbody > * {
    color: #fff;
}

.table > :not(caption) > * > * {
    color: #fff;
}

nav {
    display: flex;
    justify-content: center;
}

.link-centered {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.link-space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

a {
    color: #9f00ff;
}

.page-item.active .page-link {
    background-color: #9f00ff;
    border-color: #9f00ff;
}

a.page-link:hover {
    color: #9f00ff;
}

.page-link {
    color: #9f00ff;
}

a:hover {
    color: #9f40ff;
}

a {
    text-decoration: none;
}

.btn-primary,
.btn {
    background-color: #9f00ff;
    border-color: #9f00ff;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn:hover,
.btn:active,
.btn:focus {
    background-color: #9f40ff;
    border-color: #9f40ff;
}

.btn {
    color: #fff;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* USER OPTIONS MENU */

.show-button-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-end;
}

.app-user-options {
    display: flex;
    flex-direction: column;

    position: absolute;
    right: 1rem;
    z-index: 1;

    padding: 1.2rem;
    background-color: #333333;
    border-radius: 0.6rem;
}

/* LINKS */
.links-container {
    width: 10rem;
    height: 100vh;
    margin-left: -10.5rem;
    margin-top: -8rem;
    background-color: #333333;
}

.hamburger-btn-container {
    width: 10rem;
    display: flex;
    justify-content: flex-end;
    background-color: #333333;
    margin-left: -8.4rem;
    margin-top: -3.2rem;
    padding: 1rem;
}

.hamburger-btn {
    border: none;
    text-decoration: none;
    background-color: #333333;
    font-size: 3rem;
}

.hidden {
    display: none;
}

.margin-left-10rem {
    margin-left: 10rem;
}

.margin-left-10rem-sub {
    margin-left: -10.5rem;
}

